html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  text-align: center;
  height: 100%;
}

body {
  background-color: cadetblue;
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
}



/* HEADER */

header {
  flex-grow: 1;
}


/* MAIN */

main {
  flex-grow: 1;
}



/* FOOTER */

footer {
  flex-grow: 1;
}
